.auto-hiding-nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    transition: max-width 0.3s ease; /* Change transition to max-width */
    background-color: #253529;
    color: #fff;
    padding: 1rem;
    border-radius: 15px;
    margin-top: 5px;
}

.nav-menu {
    overflow: hidden;
    height: 100%; /* Set a fixed height for the sidebar */
}

.collapsed {
    width: 25px; /* Width when collapsed */
}

.expand {
    width: 110px; /* Width when expanded */
}

.nav-item-text {
    visibility: hidden; /* Initially hidden */
    position: absolute;
    margin-left: 0.5rem;
    font-size: 16px;
    margin-top: 4px;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Added transform property for scaling animation */
    transform-origin: left center; /* Set the scaling origin to the left center */
}

.expand .nav-item-text { /* Visible when hover over sidebar */
    visibility: visible;
    opacity: 0.5;
}

.nav-link:hover .nav-item-text { /* Visible when hover over text */
    opacity: 1;
    transform: scale(1.2); /* Increase the scale on hover for a bigger text effect */
    color: #DAF7A6; /* Highlighted color */
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-item-icon {
    color: white;
    font-size: 20px;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Added transform property for scaling animation */
    transform-origin: left center; /* Set the scaling origin to the left center */
    margin-bottom: 5px;
}

.nav-link:hover .nav-item-icon {
    color: #DAF7A6;
    transform: scale(1.2); /* Increase the scale on hover for a bigger icon effect */
}

.nav-link > * {
    align-self: flex-start;
}

/* Mobile device Hamburger menu */
.hamburger-icon {
    cursor: pointer;
    display: none; /* Initially hidden on larger screens */
}

@media (max-width: 768px) {
    .hamburger-icon {
        display: block; /* Display on smaller screens */
        margin-left: 10px;
        margin-top: 8px;
    }

    .hide-sidebar .nav-item-text {
        visibility: hidden;
    }

    .show-sidebar .nav-item-text {
        visibility: visible;
    }

    .hide-sidebar {
        visibility: hidden;
        height: 0px;
    }

    .show-sidebar {
        visibility: visible;
    }

    .nav-menu {
        height: 0%;
        overflow: hidden;
    }

    /* Additional styles for the hamburger bars */
    .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 2px;
    }

    .hamburger-icon.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger-icon.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .expand .nav-item-text { /* Visible when hover over sidebar */
        opacity: 1;
        font-size: 16px;
    }
}
