@page "/snake"
@inject IJSRuntime js

<div class="container">

    <!-- Header -->
    <h1>Nostalgic Snake Game</h1>

    <div class="score-info">
        <div class="score">Current Score: @score.CurrentScore</div>
        <div class="score">Top Score: @score.TopScore</div>
    </div>

    <!-- Game board -->
    <div class="snake-board"
         tabindex="0"
         @onkeydown="ControlSnakeDirection">
         @for (int row = 0; row < 15; row++)
         {
             @for (int col = 0; col < 15; col++)
             { 
                bool isSnakeCell = IsSnakeCell(row, col);
                bool isSnakeHead = IsSnakeHead(row, col);
                bool isFoodCell = IsFoodCell(row, col);

                <div class="cell @(isSnakeCell && !isSnakeHead ? "snake-body" : "")">
                    @if (isSnakeCell)
                    {
                        @if (isSnakeHead)
                        {
                            <span>🐲</span>
                        }
                        else
                        {
                            <span>⬤</span>
                        }
                    }
                    @if (isFoodCell)
                    {
                        <span>🍎</span>
                    }
                </div>
             }
         }
    </div>

    <!-- Footer -->
    <div class="footer-info">
        <div class="footer-message">
            Interested in creating your own Snake game?
            <br />
            Learn step-by-step in my articles:
        </div>
        <div class="footer-links">
            <a href="https://www.c-sharpcorner.com/article/design-a-snake-game-in-blazor/" class="journal-text"><i class="bi bi-journal-text"></i></a>
            <a href="https://medium.com/@@RikamPalkar/design-a-snake-game-in-blazor-3c88106f0c2d" class="medium">
                <i class="bi bi-medium"></i>
            </a>
        </div>
    </div>
</div>