.tictactoe-board {
    width: 31rem;
    height: 31rem;
    margin: auto;
    display: grid; /* Change display to grid */
    grid-template-columns: repeat(3, 9.7rem); /* Specify column width */
    grid-template-rows: repeat(3, 9.7rem); /* Specify row height */
    gap: 5px; /* Add gap between cells */
    background: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
}

.cell {
    width: 100%; /* Set width to 100% to fill grid cell */
    height: 100%; /* Set height to 100% to fill grid cell */
    border: 2px solid #fff;
    border-radius: 30px;
    background: #142A1F;
    opacity: 80;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

    .cell:hover {
        background: #022724;
        cursor: pointer;
    }

.char {
    font-size: 5rem;
    text-align: center;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
    color: #2E9982;
}
