@page "/tictactoe"
@inject IJSRuntime JS

<div class="container">

    <!-- Header -->
    <h1>Play TicTacToe With AI</h1>

    <!-- Game board -->
    <div class="tictactoe-board">
        @for (int i = 0; i < 3; i++)
        {
            int row = i;
            for (int j = 0; j < 3; j++)
            {
                int col = j;
                <div class="cell"
                     @onclick="()=> MakeMove(row, col)">
                    <h5 class="char">@board[row, col]</h5>
                </div>
            }
        }
    </div>

    <!-- Footer -->
    <div class="footer-info">
        <div class="footer-message">
            AI opponent powered by the MinMax algorithm.
            <br />
            Learn step-by-step in my articles:
        </div>
        <div class="footer-links">
            <a href="https://www.c-sharpcorner.com/article/create-a-tic-tac-toe-game-in-blazor/" class="journal-text"><i class="bi bi-journal-text"></i></a>
            <a href="https://levelup.gitconnected.com/step-by-step-guide-to-develop-tic-tac-toe-ai-with-blazor-b11c194aac6b" class="medium">
                <i class="bi bi-medium"></i>
            </a>
        </div>
   </div>
</div>

